<html lang="zh">
<head>
    <%- include('./_blocks/head', { siteTitle: `关于 - ${themeConfig.siteName}` }) %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css">
</head>
<body>
<%- include('./_blocks/header') %>
<div class="main"><div class="main-inner"><div class="content">
<div style="display:flex">
<div class="md_block" id="md_block">
<% if (site.customConfig.RoundShapeOne){ %>
<div class="round-shape-one"></div>
<% } %>
<%- site.customConfig.about %>
<span id="footnote"></span>
<div id = "warn"></div>
</div>
<div class="toc-container"></div>
</div>
<div id="fullPage"><canvas id="canvas"></canvas></div>
</article>
<div id="eof"><span><%= site.customConfig.EOFvalue %></span></div>
<% if (site.customConfig.RoundShapeOne){ %>
<div class="round-shape-one"></div>
<% } %>
<section>
<div class="doc_comments">
<% if (typeof commentSetting !== 'undefined' && commentSetting.showComment) { %>
	  <% if (commentSetting.commentPlatform === 'gitalk') { %>
		<div id="gitalk-container"></div>
		<%- include('./_blocks/gitalk') %>
	  <% } %>
		  
	  <% if (commentSetting.commentPlatform === 'disqus') { %>
		<%- include('./_blocks/disqus') %>
	  <% } %>

            <% if(typeof site.customConfig['valine']!=='undefined' && site.customConfig['valine']) { %>
                <%- include('./_blocks/valine') %>
            <% } %>

<% } %>


</div></section>
</div></div></div>
<%- include('./_blocks/footer') %>
</body>
</html>
